img {
	display: none;
	position: absolute;
}
.menu_items {
	float: left;
}
.canvas {
	overflow: scroll;
	height: 600px;
}
.deface_menu {
	margin-bottom: 20px;
}
.drop10 {
	margin-top: 10px;
}
.drop50 {
	margin-top: 50px;
}